<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" th:href="@{/css/tether.min.css}" />
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<script type="text/javascript" th:src="@{/js/jquery-3.2.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/tether.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<title>DSA Storyteller</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				Hello world
			</div>
		</div>
	</div>
</body>
</html>